@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using OwlBlog.DAL.Models.Response.Users

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-page">

    @if (User.Identity.IsAuthenticated)
    {

    }
    else
    {
        
    }
</div>
