<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">
	<targets>
		<target xsi:type="File" name="main" fileName="${basedir}/logs/main/${shortdate}.log" layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}" />
		<target xsi:type="File" name="error" fileName="${basedir}/logs/errors/${shortdate}.log" layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}" />
	</targets>
	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" maxlevel="warn" writeTo="main" />
		<logger name="*" minlevel="warn" writeTo="error" />
	</rules>
</nlog>